services:
  rabbitmq:
    image: rabbitmq:4.1.6-management
    container_name: content-samurai-rabbit
    hostname: samurai-rabbit
    ports:
      - "${RABBITMQ_PORT:-5672}:5672" # AMQP
      - "${RABBITMQ_MANAGEMENT_PORT:-15672}:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbit_data:/var/lib/rabbitmq
    restart: always

  redis:
    image: redis:7.4-alpine
    container_name: content-samurai-redis
    hostname: samurai-redis
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: always

volumes:
  rabbit_data:
  redis_data:
